<nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Logo</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#/about">About us</a></li>
                    <li><a href="#/services">Services</a></li>
                    <li><a href="#/listing">Product listing</a></li>
                    <li class="sign"><a href="#/signup">Login/Signup</a></li>
                    <li class="user" ng-show="session"><a href="#/signup">{{ username }}</a></li>
                    
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="#/about">About us</a></li>
                    <li><a href="#/service">Services</a></li>
                    <li class="sign"><a href="#/signup">Login/Signup</a></li>
                    <li class="user"><a href="#/signup">{{ username }}</a></li>
                </ul>
            </div>
        </nav>